/* Stylesheet for the queue_setup_?.php programs */

fieldset
{
  margin-top             : 2em;
}

input
{
  width                  : 25em;
}

ul.multi_notes
{
  width                  : 40em;
  padding                : 1em;
}

ul.multi_notes li
{
  padding-top            : 1em;
}

