/*
 * reports.css
 *
 * Styles common to the reports programs
 *
 */

.reporthead
{
  background-color : #7DD5F0;  /*#2790B0; teal */
  color            : black;
  font-size        : 120%;
  font-weight      : bold;
}

table.solution_info
{
  text-align       : left;
  border           : 0px;
  margin           : 2em 1em;
}

table.solution_info th {
  font-family      : Arial, Helvetica, sans-serif;
  font-size        : 14px;
  font-weight      : bold;
}

table.solution_info table th {
  background-color : #7DD5F0;
  border           : 1px solid black;
}

table.solution_info table td {
  text-align       : center;
}
