/*
 * reports.css
 *
 * Styles common to the reports programs
 *
 */

.reporthead
{
  background-color : #7DD5F0;  /*#2790B0; teal */
  color            : black;
  font-size        : 120%;
  font-weight      : bold;
}

